
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GoodMoodProvider.ViesModels.User

<h1>UserRegistration</h1>

<div>
    <form asp-action="Registration" asp-controller="User" method="post">

        <input type="text" name="Nickname">
        <label>Login</label>
        <hr>
        <input type="password" , name="Nickname">
        <label>Password</label>
        <input type="password" , name="Nickname">
        <label>Confirm password</label>
        <hr>
        <input type="text" name="FirstName">
        <label>First name</label>
        <hr>
        <input type="text" name="SecondName">
        <label>Second name</label>
        <hr>
        <input type="datetime" , name="Age">
        <label>Age</label>
        <hr>
        <input type="text" name="Gender">
        <label>Gender</label>
        <hr>

        <button type="submit">Enter</button>
    </form>
</div>