
@{
    ViewData["Title"] = "AddNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GoodMoodProvider.ViewsModels.NewsViewModel

<h2>AddNews</h2> 
(*) - optional fields
<div>
    <form asp-action="AddNews" asp-controller="News" method="post">
       
        <label>Enter article</label>
        <input type="text" name="Article" required>
        <br>
        <label>Enter news text</label>
        <input type="text" name="Body" size="50" required>
        <br>
        <label>Enter name of author*</label>
        <input type="text" name="Author">
        <br>
        <label>Enter source site*</label>
        <input type="text" name="OriginSite">
        <hr>

        <button type="submit">Submit</button>
    </form>
</div>



