
@{
    ViewData["Title"] = "DeleteNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DeleteNews</h1>

<div>
    <form method="post">
        Delete news?<br>
        <button type="submit">Delete</button>
    </form>
</div>
