
@{
    ViewData["Title"] = "EditNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ModelsLibrary.ViewModels.NewsViewModel

<h1>EditNews</h1>

<div>
    <form method="post">
        <label>Article</label>
        <input type="text" name="Article" autocomplete="@Model.Article" />
        <br>
        <label>Body</label>
        <input type="text" name="Body" autocomplete="@Model.Body"/>
        <br>
        <label>Name of author</label>
        <input type="text" name="Author" autocomplete="@Model.Author"/>
        <hr>
        <button type="submit">Edit</button>
    </form>
</div>

