
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GoodMoodProvider.ViewsModels.UserViewModel

<h1>Login</h1>

<div>
    <form>
        <label>Login</label> <br>
        <input type="text" , name="Nickname"> <br>
        
        <label>Password</label> <br>
        <input type="text" , name="Password"> <br>
        <hr>
        <button type ="submit">Log in</button>
    </form>
</div>

