.news-list{
  background-color: rgb(120, 165, 201);
  border: 3px;
  border-style: solid;
  list-style-type: none;
  padding-left: 10px;
}

.news-element{
  background-color: rgb(233, 241, 243);
  border: 3px;
  border-style: groove;
  border-color: #dbdbdb;
  padding: 20px;
  margin: 15px;
}


.news-element:hover{
  border: 4px;
}

