.news-list{
  background-color: rgb(80, 131, 173);
  border: 2px;
  border-style: solid;
  list-style-type: none;
  padding-left: 10px;
}

.news-element{
  background-color: rgb(233, 241, 243);
  border: 2px;
  border-style: groove;
  border-color: #dbdbdb;
  padding: 20px;
  margin: 15px;
}
