
@model GoodMoodProvider.ViewsModels.NewsViewModel

@{
    ViewData["Title"] = "NewsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>NewsList</h1>

@Html.DisplayNameFor(model => model.Article)
@Html.DisplayNameFor(model => model.Body)