<div class="background-block">
  <div class="info-element">
    <h2>Авторизация</h2>
    {{test}}
    <div *ngIf="!loginState">
      <h4 class="error-message">{{errorMessage}}</h4>
    </div>
    <input [(ngModel)]="login">
    <label>  Логин</label>
    <br>
    <br>
    <input [(ngModel)]="password" type="password">
    <label>  Пароль</label>
    <hr>
    <button (click)="sendLogin(login, password)">Enter</button>

    <h3>Нет аккаунта? <a routerLink="/registration">Зарегистрируйтесь!</a></h3>
  </div>
</div>

